#cardContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 90vh;
    overflow: hidden;
    
}
.cards{
    position: relative;
    width: 30vw;
}

.monsterIndex{
    width: 100vw;
}

.swiper-slide2{
    width: 100px;
}
.swiper-slide2 img{
    height: 300px;
    width: auto;
}